
# Visual studio madness!
*.log
*.dll
vs/Libs.local.props
*.opensdf
*.sdf
*.user
*.nvuser
*.suo
**/x64
**/Debug
**/Release
**/ipch


# Build files
Makefile
*.cmake
CMakeFiles
CMakeCache.txt

bin


# Misc
.idea
.directory
.settings

